In [15]:
import pandas as pd

In [16]:
pd.__file__

'/workspaces/dataengineering/pipeline/.venv/lib/python3.13/site-packages/pandas/__init__.py'

In [17]:
prefix = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow"
url = f"{prefix}/yellow_tripdata_2021-07.csv.gz"

In [18]:
df = pd.read_csv(url)

/tmp/ipykernel_9005/4176769558.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [19]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-07-01 00:08:51,2021-07-01 00:13:05,1.0,0.8,1.0,N,90,68,1.0,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
1,1.0,2021-07-01 00:22:39,2021-07-01 00:25:58,1.0,0.9,1.0,N,113,90,2.0,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
2,1.0,2021-07-01 00:48:33,2021-07-01 00:54:58,1.0,2.8,1.0,N,88,232,2.0,10.0,3.0,0.5,0.0,0.0,0.3,13.8,2.5
3,1.0,2021-07-01 00:59:44,2021-07-01 01:07:09,1.0,1.4,1.0,N,79,249,1.0,7.0,3.0,0.5,1.5,0.0,0.3,12.3,2.5
4,1.0,2021-07-01 00:08:35,2021-07-01 00:16:28,0.0,2.0,1.0,N,142,238,1.0,8.5,3.0,0.5,0.0,0.0,0.3,12.3,2.5

In [20]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    prefix + '/yellow_tripdata_2021-01.csv.gz',
    # nrows=100
    dtype=dtype,
    parse_dates=parse_dates
)

In [21]:
df["tpep_pickup_datetime"]

0         2021-01-01 00:30:10
1         2021-01-01 00:51:20
2         2021-01-01 00:43:30
3         2021-01-01 00:15:48
4         2021-01-01 00:31:49
                  ...
1369760   2021-01-25 08:32:04
1369761   2021-01-25 08:34:00
1369762   2021-01-25 08:37:00
1369763   2021-01-25 08:28:00
1369764   2021-01-25 08:38:00
Name: tpep_pickup_datetime, Length: 1369765, dtype: datetime64[ns]

In [22]:
!uv add sqlalchemy psycopg2-binary

Resolved 121 packages in 0.63ms
Audited 13 packages in 9ms

In [23]:
!uv add psycopg2

Resolved 121 packages in 0.64ms
Audited 13 packages in 0.24ms

In [24]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [25]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [26]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [27]:
df_iter = pd.read_csv(url, dtype = dtype, parse_dates=parse_dates, iterator = True, chunksize=100000,)

In [28]:
df_iter

In [29]:
df = next(df_iter)

In [30]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-07-01 00:08:51,2021-07-01 00:13:05,1,0.80,1,N,90,68,1,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
1,1,2021-07-01 00:22:39,2021-07-01 00:25:58,1,0.90,1,N,113,90,2,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
2,1,2021-07-01 00:48:33,2021-07-01 00:54:58,1,2.80,1,N,88,232,2,10.0,3.0,0.5,0.00,0.0,0.3,13.80,2.5
3,1,2021-07-01 00:59:44,2021-07-01 01:07:09,1,1.40,1,N,79,249,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
4,1,2021-07-01 00:08:35,2021-07-01 00:16:28,0,2.00,1,N,142,238,1,8.5,3.0,0.5,0.00,0.0,0.3,12.30,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2021-07-02 08:48:33,2021-07-02 09:04:45,0,5.10,1,N,141,4,1,16.5,3.0,0.5,5.00,0.0,0.3,25.30,2.5
99996,1,2021-07-02 08:33:48,2021-07-02 08:39:06,1,1.10,1,N,107,170,1,6.0,2.5,0.5,7.00,0.0,0.3,16.30,2.5
99997,1,2021-07-02 08:41:40,2021-07-02 08:48:48,1,1.40,1,N,170,141,2,7.0,2.5,0.5,0.00,0.0,0.3,10.30,2.5
99998,1,2021-07-02 08:53:00,2021-07-02 09:01:30,1,1.50,1,N,229,263,1,8.0,2.5,0.5,2.00,0.0,0.3,13.30,2.5
99999,2,2021-07-02 08:21:00,2021-07-02 08:25:00,1,0.74,1,N,237,262,1,5.0,0.0,0.5,1.66,0.0,0.3,9.96,2.5

In [31]:
!uv add tqdm

Resolved 121 packages in 0.61ms
Audited 13 packages in 0.22ms

In [32]:
from tqdm.auto import tqdm
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

0it [00:00, ?it/s]

In [ ]:
# first = True

# for df_chunk in df_iter:

#     if first:
#         # Create table schema (no data)
#         df_chunk.head(0).to_sql(
#             name="yellow_taxi_data",
#             con=engine,
#             if_exists="replace"
#         )
#         first = False
#         print("Table created")

#     # Insert chunk
#     df_chunk.to_sql(
#         name="yellow_taxi_data",
#         con=engine,
#         if_exists="append"
#     )

#     print("Inserted:", len(df_chunk))